@font-face {
  font-family: "iconfont"; /* Project id 3961282 */
  src: url('iconfont.woff2?t=1679132538518') format('woff2'),
       url('iconfont.woff?t=1679132538518') format('woff'),
       url('iconfont.ttf?t=1679132538518') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-random:before {
  content: "\ea7c";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-shunxubofang:before {
  content: "\e871";
}

